body {
    background-color: black;
    font-family: arial;
    color: white
}

h1 {
    color: grey;
    font-family: verdana
}

.maindiv {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    line-height: 35px;
    transform: translate(-50%, -50%);
}

.fieldLabel {
    display: inline-block;
    position: relative;
    padding-left: 80px;
    width: 120px;
}

.fieldInput {
    margin-left: 10px;
    border-radius: 0.1px;
}

.fieldButton {
    display: inline-block;
    position: relative;
    padding-left: 80px;
    height: 45px;
}

.result {
    display: inline-block;
    position: relative;
    padding-left: 80px;
    line-height: 22px;
}

.resultText {
    background-color: yellow;
}